@function breakpoint-next($name, $breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints) {
  $breakpoint: map-get($breakpoints, $name);
  $min: nth($breakpoint, 2);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}


@function pixel($num) {
  @if unitless($num) {
    @return $num * 1px;
  }
  @return $num;
}
