# unconventional js
/packages/*/blueprints/*/files/
/packages/*/vendor/

# compiled output
/packages/*/dist/
/packages/*/tmp/

# dependencies
/node_modules/
/packages/*/node_modules

# misc
/coverage/
!.*
.eslintcache
/DEBUG
/packages/*/DEBUG
/.github/

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
/packages/*/.node_modules.ember-try/
/packages/*/bower.json.ember-try
/packages/*/package.json.ember-try
