{
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "trailingComma": "none",
        "singleQuote": false
      }
    },
    {
      "files": "*.hbs",
      "options": {
        "parser": "glimmer",
        "singleQuote": false
      }
    }
  ]
}
