<box xs="10" class="offset-xs-1" vertical>
  <box fit>
    <hbox fit>
      <h1>Layout Attributes</h1>
      <hbox align="center" justify="end">
        <span>Next {{#link-to 'docs.media-css'}} @media CSS{{/link-to}}</span>
      </hbox>
    </hbox>
  </box>
</box>