fill {
  @include element();
  @include flexDisplay();
  @include flexWrap(wrap);
  @include flexDirection(row);
  @include flex(1 0 auto);
  min-height: 100%;
  min-width: 100%;
}

.flexi-block,
fill[block] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 100%;
  position: absolute;
  flex: none;
  height: 100%;
}
