grid {

  @include displayFlex();

  box-sizing: border-box;
  width: 100%;
}

@function column($index, $total) {
  @return percentage($index / $total);
}

.col-xs-12 {
  width: 100%;
}

// breakpoint
.col-sm-12 {
  width: 100%;
}

// breakpoint
.col-md-12 {
  width: 100%;
}

.layout-sm {
  .col-sm-12 {
    width: 100%;
  }
}
