@import 'grid';
@import 'box';
@import 'centered';
@import 'hbox';
@import 'page';
@import 'screen';
@import 'vbox';
@import 'container';
@import 'fill';

$detected-elements: (
  grid: true,
  box: true,
  centered: true,
  hbox: true,
  page: true,
  screen: true,
  vbox: true,
  container: true,
  fill: true
);

@if ($include-css and $include-element-css) {

  @if (map-get($detected-elements, 'grid')) {
    @include gridElement();
  }

  @if (map-get($detected-elements, 'box')) {
    @include boxElement();
  }

  @if (map-get($detected-elements, 'centered')) {
    @include centeredElement();
  }

  @if (map-get($detected-elements, 'hbox')) {
    @include hboxElement();
  }

  @if (map-get($detected-elements, 'page')) {
    @include pageElement();
  }

  @if (map-get($detected-elements, 'screen')) {
    @include screenElement();
  }

  @if (map-get($detected-elements, 'vbox')) {
    @include vboxElement();
  }

  @if (map-get($detected-elements, 'container')) {
    @include containerElement();
  }

  @if (map-get($detected-elements, 'fill')) {
    @include fillElement();
  }

}
