{{#flexi-layout tagName="layout" class="sustain-test flexi-layout"}}
  <h2 class="sustain-test">I ought to be sustained with a model</h2>
  <p>If I was, the component above's ID will be identical between the routes sustain and sustain-b.</p>
  <h2>My model's foo value should show below:</h2>
  <p class="has-model-foo">{{model.foo}}</p>
{{/flexi-layout}}
