<h2>Fixed Top Nav w/ Fixed Width Body Tabs</h2>

{{!- BEGIN-SNIPPET fixed-top-nav-fixed-width-body-tabs }}
<page class="example-layout page1">
  <hbox fit justify="between" class="blue header">
    <hbox>
      <button>Header 1</button>
      <button>Header 1</button>
      <button>Header 1</button>
      <button>Header 1</button>
    </hbox>
    <hbox fit>
      <button>Header 1</button>
      <button>Header 1</button>
    </hbox>
  </hbox>
  <centered>
    <box xs="10">
      <hbox fit justify="between">
        <hbox>
          <button>tab 1</button>
          <button>tab 2</button>
          <button>tab 3</button>
          <button>tab 4</button>
        </hbox>
        <hbox fit>
          <button>Action 1</button>
          <button>Action 2</button>
        </hbox>
      </hbox>
      <box class="main smaller">
        {{lorem-ipsum}}
      </box>
    </box>
  </centered>
</page>
{{!- END-SNIPPET }}

<box xs="12">
  {{code-snippet name='fixed-top-nav-fixed-width-body-tabs.hbs'}}
</box>
