<screen>
  <page>

    <box class="bg-green site-intro">
      <centered>
        <div>
          <h1 class="title text-center">Flexi</h1>
          <h2 class="sub-title">Just a layout framework. Design for cross-platform with ease.</h2>
        </div>
      </centered>
    </box>

    <hbox>
      <centered>
        <h3>{{#link-to 'guides'}}Guides{{/link-to}}</h3>
      </centered>
      <centered>
        <h3>{{#link-to 'docs.index'}}Docs{{/link-to}}</h3>
      </centered>
      <centered>
        <h3><a href="https://github.com/runspired/flexi">Github</a></h3>
      </centered>
    </hbox>

    <centered fit>
      <h4>Next</h4>
    </centered>

  </page>
</screen>