<h1>Layout Elements</h1>

<container>
  <fill>
    <grid class="card" fit>
      <box xs="12" sm="2">
        <h3>&lt;box&gt;</h3>
      </box>
      <box xs="12" sm="3">
        {{code-snippet name="box-1.hbs"}}
      </box>
      <box xs="12" sm="7">
        <p>
          Box is a general all purpose layout element. Think of it as the new div.
        </p>
      </box>
    </grid>

    <grid class="card" fit>
      <box xs="12" sm="2">
        <h3>&lt;vbox&gt;</h3>
      </box>
      <box xs="12" sm="3">
        {{code-snippet name="vbox-1.hbs"}}
      </box>
      <box xs="12" sm="7">
        <p>
          vbox is a general all purpose layout element. Think of it as the new div.
        </p>
      </box>
    </grid>

    <grid class="card" fit>
      <box xs="12" sm="2">
        <h3>&lt;hbox&gt;</h3>
      </box>
      <box xs="12" sm="3">
        {{code-snippet name="hbox-1.hbs"}}
      </box>
      <box xs="12" sm="7">
        <p>
          hbox is a general all purpose layout element. Think of it as the new div.
        </p>
      </box>
    </grid>
  </fill>
</container>