button, .button {
  color: darken($theme-magenta, 30%);
  font-weight: bold;
  display: inline-block;
  background: $theme-magenta;
  border: 1px solid lighten($theme-magenta, 10%);
  font-size: .75em;
  padding: .25em .5em;
  border-radius: 1px;
}
