@import '../variables';

hbox.header {
  height: 50px;
}

.blue {
  background-color: $theme-color-1;
}

.fixed-250 {
  width: 250px;
}

.main {
  background-color: $theme-color-2;
  height: 100vh;
  overflow-y: auto;
  padding: 0.25rem 1.5rem;
  &.smaller{
    height: auto;
    min-height: 500px;
  }
}

.page1 {
  position:absolute;
  overflow:hidden;
  top:0px;
  bottom: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
}
