h1.title {
  font-size: 4rem;
  color: #fff;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: $theme-dark-grey;
}

h2.sub-title {
  font-size: 1.25rem;
  color: #fff;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: $theme-dark-grey;
}

h3 {
  font-size: 1.25rem;
  color: $theme-grey;
}

h4 {
  font-size: 1rem;
  color: $theme-green;
}

h4 {
  font-size: .85rem;
  color: $theme-green;
}

p {
  font-size: .85rem;
  color: $theme-dark-grey;
}
