@import '../variables';

screen {
  font-size: .85rem;
}

a {
  font-size: 1em;
  color: $theme-color-1;
  text-decoration: none;
  &:visited {
    color: lighten($theme-color-1, 5%);
  }
  &:hover,
  &:focus {
    color: darken($theme-color-1, 5%);
    text-decoration: underline;
  }
}
