.nav-menu ul {
  margin: 1rem auto;
  padding: 0;
  list-style-type: lower-roman;
  font-size: .85rem;
  line-height: 1.2em;

  li {
    width: 100%;
    margin: 0;

    a {
      color: #666;

      &:visited {
        color: #666;
      }

      &:focus,
      &:hover {
        color: #222;
        text-decoration: none;
      }

      &:active,
      &.active {
        color: darken($theme-green, 0%);
        text-decoration: none;
      }


    }

  }
}

.nav-menu {
  @media (max-width: 768px) {

    background: #fff;

    ul {
      margin: 1rem 0;
      width: 100%;
      font-size: 1.2rem;
      list-style: none;

      li {
        width: 100%;

        a {
          color: #333;
          text-align: center;
          display: block;
          width: 100%;
          height: 100%;
          padding: $gutter-padding;
          border-bottom: 1px solid #bbb;

          &:visited {
            color: #333;
          }

        }
      }
    }
  }
}

