{
  "extends": "defaults/configurations/walmart/es5-node",
  "env": {
    "browser": false,
    "node": true
  },
  "globals": [],
  "rules": {
    "no-empty-label": [0],
    "space-before-keywords": [0],
    "space-after-keywords": [0],
    "space-return-throw-case": [0],
    "keyword-spacing": 2,
    "no-labels": 2,
    "camelcase": 0,
    "consistent-this": [ 2, "_self",  "_this", "pluginContext" ],
    "func-style": 0,
    "no-magic-numbers": [1, { "ignore": [-1, 0, 1], "ignoreArrayIndexes": true }],
    "max-params": [1, 4]
  }
}
