<h2>This Row Grid responds to @media queries</h2>

{{!- BEGIN-SNIPPET grid-rows }}
<vbox class="example">
  <hbox>
    <centered xs="12" sm="4">1</centered>
    <centered xs="12" sm="4">2</centered>
    <centered xs="12" sm="4">3</centered>
  </hbox>
  <hbox>
    <centered xs="12" md="4">4</centered>
    <centered xs="12" md="4">5</centered>
    <centered xs="12" md="4">6</centered>
  </hbox>
  <hbox>
    <centered xs="12" md="4">7</centered>
    <centered xs="12" md="4">8</centered>
    <centered xs="12" md="4">9</centered>
  </hbox>
</vbox>
{{!- END-SNIPPET }}

<box xs="12">
  {{code-snippet name='grid-rows.hbs'}}
</box>