<hbox justify="center">
  <box fill xs="11">
    <hbox justify="center">
      <h1>Flexi</h1>
    </hbox>
    <hbox justify="center">
      <h2>Fantastically Fresh Flexbox for Ember</h2>
    </hbox>
    <grid>
      <centered xs="12" sm="6" md="3" lg="2">
        {{#link-to 'fixed-width-left-sidebar' class="layout-mock"}}
          <img src="grid.svg" alt="grid">
          <box class="text-center">Fixed Left Sidebar</box>
        {{/link-to}}
      </centered>
      <centered xs="12" sm="6" md="3" lg="2">
        {{#link-to 'fixed-width-left-sidebar-with-top-nav' class="layout-mock"}}
          <img src="grid.svg" alt="grid">
          <box class="text-center">Fixed Left Sidebar + Top Nav</box>
        {{/link-to}}
      </centered>
      <centered xs="12" sm="6" md="3" lg="2">
        {{#link-to 'fixed-top-nav-fixed-width-body-tabs' class="layout-mock"}}
          <img src="grid.svg" alt="grid">
          <box class="text-center">Fixed Top Nav + Body Tabs</box>
        {{/link-to}}
      </centered>
      <centered xs="12" sm="6" md="3" lg="2">
        {{#link-to 'grid' class="layout-mock"}}
          <img src="grid.svg" alt="grid">
          <box class="text-center">Grid</box>
        {{/link-to}}
      </centered>
    </grid>
  </box>
</hbox>