@import 'variables';
@import 'normalize';
@import 'mixins/index';

@import 'defaults/examples';
@import 'defaults/links';

body {
  font-size: 125%;
  margin: 0;
  font-family: oxygen, "Helvetica Neue", "Arial", "SansSerif", sans-serif;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.layout-mock {
  padding: 10px;
  transform: translateY(15px);
  transition: transform 0.3s 0.1s;
  &:hover {
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.3s 0s;
  }
  img {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

.hljs {
  padding: 1em;
  margin-bottom: 2em;
  font-size: 1rem;
}
