<h1>Tests</h1>
<p>
  The Routes below are used for both manual and automated testing.
</p>
<ul>
  <li>{{#link-to 'docs'}}Documentation{{/link-to}}</li>
  <li>{{#link-to 'guides'}}Guides{{/link-to}}</li>
  <li>{{#link-to 'tests.layouts'}}Layouts Test{{/link-to}}</li>
  <li>{{#link-to 'tests.sustain'}}Sustain Test{{/link-to}}</li>
</ul>