<screen class="bg-dark">
  <page class="bg-green">
    <vbox class="bg-blue">
      <h2>Vertical Box</h2>
      <p>
        I should use up all the height.
      </p>
    </vbox>
    <vbox class="bg-yellow" wrap>
      <box>
        <h2>Box</h2>
        <p>
          I should use up all the width.
        </p>
      </box>
      <box class="bg-green" nowrap>
          <vbox class="bg-red col-xs-2">
            <h2>Vertical Box</h2>
            <p>I span 2</p>
          </vbox>
          <hbox class="bg-blue">
            <h2>Horizontal Box</h2>
            <p>I span the rest</p>
          </hbox>
          <vbox class="bg-green col-xs-2">
            <h2>Vertical Box</h2>
            <p>I span 2</p>
          </vbox>
      </box>
    </vbox>
  </page>
</screen>
<style type="text/css">
  .col-xs-2 {
    width: 16.8%;
  }
</style>