@mixin pageElement() {
  page {
    @include element();
    @include flexDisplay();
    @include flexDirection(column);
    @include flex(1 0 auto);

    // avoid using width directly
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
  }
}
