<h2>Fixed Width Left Sidebar</h2>

{{!- BEGIN-SNIPPET fixed-width-left-sidebar }}
<page class="example-layout page1">
  <hbox>
    <box fit class="blue fixed-250">
      <vbox>
        <button>Nav 1</button>
        <button>Nav 2</button>
        <button>Nav 3</button>
        <button>Nav 4</button>
        <button>Nav 5</button>
      </vbox>
    </box>
    <box class="main">
      {{lorem-ipsum}}
    </box>
  </hbox>
</page>
{{!- END-SNIPPET }}

<box xs="12">
  {{code-snippet name='fixed-width-left-sidebar.hbs'}}
</box>
