@import "variables";
// BEGINNING OF STYLES USED IN EXAMPLES
body {
  margin: 0;
  font-family: oxygen, "Helvetica Neue", "Arial", "SansSerif", sans-serif;
}

.nav-with-padding {
  padding: 5px 10px;

  > h3 {
    margin: 0;
  }
}

.content {
  max-height: 90vh;
  overflow: scroll;
}
// END OF STYLES USED IN EXAMPLES

.code-snippet-section {
  background-color: #aaa;
}

// This is for the svg icons in index.hbs
.layout-mock {
  cursor: pointer;
  padding: 10px;
  transform: translateY(0);
  transition: transform 0.3s 0.1s;

  &:hover {
    transform: translateY(-15px);
    transition: transform 0.3s 0s;
  }

  > img {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

a {
  color: $dark;
  text-decoration: none;
}
