<h2>This Row Grid responds to @container queries</h2>
{{!- BEGIN-SNIPPET grid-example-grid-rows-responsive }}
<container>
  <vbox>
    <hbox>
      <centered xs="12" sm="4" class="bg-green">1</centered>
      <centered xs="12" sm="4" class="bg-light-grey">2</centered>
      <centered xs="12" sm="4" class="bg-light-grey">3</centered>
    </hbox>
    <hbox>
      <centered xs="12" md="4" class="bg-magenta">4</centered>
      <centered xs="12" md="4" class="bg-light-grey">5</centered>
      <centered xs="12" md="4" class="bg-orange">6</centered>
    </hbox>
    <hbox>
      <centered xs="12" md="4" class="bg-green">7</centered>
      <centered xs="12" md="4" class="bg-blue">8</centered>
      <centered xs="12" md="4" class="bg-orange">9</centered>
    </hbox>
  </vbox>
</container>
{{!- END-SNIPPET }}