
.flexi-fit {
  flex: none;
}

.flexi-fill {
  flex: 1 1 auto;
}

.flexi-wrap {
  flex-wrap: wrap;
  display: flex;
}

.flexi-nowrap {
  flex-wrap: nowrap;
  display: flex;
}

.flexi-horizontal {
  flex-direction: row;
}

.flexi-vertical {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
