<hbox>
  <box fit>
    <h1>{{#link-to 'index'}}Flexi{{/link-to}}</h1>
  </box>
  <box xs="9" sm="11" justify="end" horizontal>
    <box fit horizontal>
      <centered>
        <h3>{{#link-to 'guides'}}Guides{{/link-to}}</h3>
      </centered>
      <centered>
        <h3>{{#link-to 'docs.index'}}Docs{{/link-to}}</h3>
      </centered>
      <centered>
        <h3><a href="https://github.com/runspired/flexi">Github</a></h3>
      </centered>
    </box>
  </box>
</hbox>