<h2>This Grid responds to @container queries</h2>
{{!- BEGIN-SNIPPET grid-example-grid-responsive }}
<grid responsive>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-dark-grey">1</centered>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-orange">2</centered>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-dark-grey">3</centered>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-blue">4</centered>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-light-grey">5</centered>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-orange">6</centered>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-dark-grey">7</centered>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-blue">8</centered>
  <centered xs="6" sm="4" md="3" lg="2" class="bg-dark-grey">9</centered>
</grid>
{{!- END-SNIPPET }}