{{#flexi-layout tagName="layout" class="sustain-test tagless-stuff flexi-layout"}}
  <h2 class="sustain-test">I ought to be sustained</h2>
  <p>If I was, the component above's ID will be identical.</p>
{{/flexi-layout}}
<div class="tagless-stuff">
  <h3>More Tagless Stuff</h3>
</div>