<page class="example-layout page1">
  <hbox justify="between" class="header">
    <hbox>
      <button>Header 1</button>
      <button>Header 2</button>
      <button>Header 3</button>
      <button>Header 4</button>
    </hbox>
    <hbox fit>
      <button>Header 5</button>
      <button>Header 6</button>
    </hbox>
  </hbox>
  <hbox>
    <box fit class="blue fixed-250">
      <vbox>
        <button>Nav 1</button>
        <button>Nav 2</button>
        <button>Nav 3</button>
        <button>Nav 4</button>
        <button>Nav 5</button>
      </vbox>
    </box>
    <box class="main">
      {{lorem-ipsum}}
    </box>
  </hbox>
</page>
