<h2>This Row Grid responds to @container queries</h2>

{{!- BEGIN-SNIPPET grid-rows-responsive }}
<container class="example">
  <vbox>
    <hbox>
      <centered xs="12" sm="4">1</centered>
      <centered xs="12" sm="4">2</centered>
      <centered xs="12" sm="4">3</centered>
    </hbox>
    <hbox>
      <centered xs="12" md="4">4</centered>
      <centered xs="12" md="4">5</centered>
      <centered xs="12" md="4">6</centered>
    </hbox>
    <hbox>
      <centered xs="12" md="4">7</centered>
      <centered xs="12" md="4">8</centered>
      <centered xs="12" md="4">9</centered>
    </hbox>
  </vbox>
</container>
{{!- END-SNIPPET }}

<box xs="12">
  {{code-snippet name='grid-rows-responsive.hbs'}}
</box>